<%= provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to the Local Falcon</h1>
  <h2>This is the new homepage for the Local Falcon.<br>
      Sign up to get access to the site.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
