<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Pass-On", 'pass_on_path' %></li>
      <li><%= link_to "Metrics", 'metrics_path' %></li>
      <li><%= link_to "Contacts", 'contacts_path' %></li>
      <li><%= link_to "Schedule", 'schedule_path' %></li>
    </ul>
  </nav>
</footer>

