<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Pass-On", '#' %></li>
      <li><%= link_to "Metrics", '#' %></li>
      <li><%= link_to "Contacts", '#' %></li>
      <li><%= link_to "Schedule", '#' %></li>
    </ul>
  </nav>
</footer>

